* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}
.nav-bar-container {
    /* background-color: lightseagreen; */
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: solid 1px lightgrey;

}
.logo-area {
    width: 20%;
}
.logo-area img {
    width: 150px;
}
.nav-area {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.nav-area a {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: bold;
}
.number-box {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    position: absolute;
    right: -5px;
    top: -5px;
    font-family: Arial, Helvetica, sans-serif;

}
/* CART AREA */
.my-cart-container{
    background-color: lightblue;
    width: 90%;
    height: 80%;
    margin: 20px auto;
}
.card-area {
    background-color: antiquewhite;
    height: 95%;
    width: 100%;
    display: flex;
    gap: 20px;
}
/* ITEM BOX */
.item-card-container {
    background-color: aliceblue;
    width: 50%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}
.item-card-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}
.trash-box {
    height: 50px;
    width: 50px;
    border: 1px lightgreen solid;
    border-radius: 50%;
    align-items: center;
}
#trash {
    color: lightgreen;
    font-size: 35px;
    text-align: center;
    padding: 5px 0 0 5px;
}
.item-box {
    background-color: blue;
    height: 100%;
    width: 30%;
}
.level-area {
    display: flex;
    justify-content: space-between;
}
.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgreen;
}
/* PAYMENT AREA */
.payment-container {
    background-color: lightgoldenrodyellow;
    width: 50%;
    height: 75%;
    margin: 20px 0;
    padding: 20px;
    border: solid 1px grey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.item-card-box {
    background-color: white;
    border-radius: 10px;
}
.price-line {
    display: flex;
    justify-content: space-between;
}
.promo-area {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid grey;
}
