* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
.container {
    background-color: whitesmoke;
    width: 100vw;
    height: 100vh;
}
.nav-bar-container {
    /* background-color: lightseagreen; */
    width: 90%;
    height: 10%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    border-bottom: solid 1px lightgrey;

}
.logo-area {
    width: 20%;
}
.logo-area img {
    width: 200px;
}
.nav-area {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}
.nav-area a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
}
.number-box {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
    background-color: red;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    right: -5px;
    top: -5px;
    font-family: Arial, Helvetica, sans-serif;

}
/* CART AREA */
.my-cart-container{
    width: 90%;
    height: 80%;
    margin: 20px auto;
}
.my-cart-container h1 {
    font-size: 2.2em;
}
.card-area {
    height: 95%;
    width: 100%;
    display: flex;
    gap: 1.2rem;
}
/* ITEM BOX */
.item-card-container {
    width: 50%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.item-card-box{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50%;
    gap: 1.5em;
    overflow: auto;
}
#trash {
    color: lightseagreen;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    text-align: center;
    margin-inline: 25px 10px;
}
.item-box {
    background-color: rgb(0, 157, 255);
    display: flex;
    flex-direction: column; 
    gap: 10px;
    justify-content: center; 
    height: 75%;
    width: 40%;
    padding: 40px 10px 40px 20px;
    border-radius: 10px;
    overflow: hidden;
}
.item-header {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}
.item-subheader {
    color: white;
    font-size: 1em;
}
#icon-frame {
    background-color: white;
    height: 30px;
    width: 30px;
    font-size: 1.2rem;
    padding-block: 5px;
    border-radius: 10px;
}
.info-box {
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 10px;
}
.info-box > p:first-child {
    font-size: 1.5em;
    color: rgb(77, 75, 75);
}
.price-left {
    font-size: 1em;
    color: grey;
    font-weight: bold;
}
.level-area {
    display: flex;
    gap: 5px;
}
.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-block: auto;
    background-color: lightseagreen;
}
select {
    border: none;
    color: grey;
    font-size: 1em;
}
select:hover {
    border: 1px solid lightseagreen;
    border-radius: 5px;
}
option {
    font-weight: bold;
    color: green;
}

/* PAYMENT AREA */
.payment-container {
    background-color: white;
    width: 50%;
    height: 75%;
    margin: 20px 0;
    padding: 30px;
    border: solid 1px lightgrey;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: auto;
}
.payment-container h2 {
    font-size: 1.6em;
}
.price-line p {
    font-size: 1.2em;
    color: grey;
}

.item-card-box {
    background-color: white;
    border-radius: 10px;
}
.price-line {
    display: flex;
    justify-content: space-between;
}
.promo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 20px;
    gap: 10px;
    font-size: 1.5em;
}
input {
    padding: 5px 10px;
    width: 60%;
    border: 1px grey solid;
    border-radius: 5px;
    font-size: 0.8em;
}
#discount {
    color: lightseagreen;
}
.promo-area button {
    width: 30%;
    padding: 5px;
    color: lightseagreen;
    border-radius: 10px;
    border: 2px solid lightseagreen;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;

}
.total-text {
    color: black !important;
    font-weight: bold !important;
}
.price-text {
    color: lightseagreen !important;
    font-weight: bold !important;
    font-size: 2em !important;
}
.payment-container > button {
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: lightseagreen;
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: bold;
}